<!-- header -->
<div class="simple_header">
  <%= link_to "Nowpage", user_profile_path(@user.url) %> |
  <%= link_to "Logout", logout_path %>
</div>

<div class="simple_container">
  <h2> Editing Nowpage </h2>
  <%= form_for @profile, url: user_profile_update_path, html: { multipart: true } do |f| %>
    
    <h4>Title</h4>
    <%= f.text_field :title, plaeholder: "title" %> <br>
    <%= f.check_box :title_delete %> <span style="font-size: 11px;"> remove title section section. </span>

    <h4>Subtitle</h4>
    <%= f.text_field :subtitle, plaeholder: "sutitle" %> <br>
    <%= f.check_box :subtitle_delete %> <span style="font-size: 11px;"> remove subtitle section. </span>
   
    <h4>Main Content</h4>
    <%= f.text_field :content, plaeholder: "content" %> <br>
    <%= f.check_box :content_delete %> <span style="font-size: 11px;"> remove content section. </span>

    <h4>Profile Image</h4>
    <%= f.file_field :profile_image %> <br>
    <!-- <%= f.check_box :content_delete %> <span style="font-size: 11px;"> remove profile image </span> -->

    <h4>Contact Me</h4>
    <%= f.text_field :contact_text, plaeholder: "contact" %> <br>
    <%= f.check_box :contact_text_delete %> <span style="font-size: 11px;"> remove contact section. </span> <br>
  
    <%= f.submit "Done Editing." %>
  <% end %>
</div>
