<!-- header -->
<div class="simple_header">
  <%= link_to "See Nowpage", user_profile_path(@user.url) %> |
  <%= link_to "Logout", logout_path %>
</div>

<div class="simple_container">
  <br> <h3>Edit Nowpage</h3>
  <%= form_for @profile, url: user_profile_update_path, html: { multipart: true } do |f| %>
   
    <h5>Name section</h5>
      <%= f.text_area :subtitle, placeholder: "Dagny A. Taggard", style: "width: 355px; height: 20px; border: 2px solid #eee;" %> <br>
    <h5>Content section</h5>
      <%= f.text_area :content, placeholder: "What are the major things you are currently focusing on?", style: "width: 355px; height: 180px; border: 2px solid #eee;" %> <br>
    <h5>Profile Image</h5>
      <%= f.file_field :profile_image, accept: 'image/jpeg,image/gif,image/png' %> <br> <br>
    <h5>Remove parts of page</h5>
      <%= f.check_box :title_delete %> <span style="font-size: 11px;"> remove "What I'm doing now" headline </span> <br>
      <%= f.check_box :subtitle_delete %> <span style="font-size: 11px;"> remove name section </span> <br>
      <%= f.check_box :content_delete %> <span style="font-size: 11px;"> remove main content </span> <br>
      <%= f.check_box :profile_image_delete %> <span style="font-size: 11px;"> remove profile image </span> <br>
      <%= f.check_box :contact_text_delete %> <span style="font-size: 11px;"> remove contact me section </span>
      <%= f.submit "Finish Editing.", style: "background-color: orange; padding: 7px 122px; margin-top: 22px;" %> <br> <br>
  <% end %>
</div>

<!-- love -->
<div class="with_love">
  Made with <i class="fa fa-heart" aria-hidden="true"></i> in Tel Aviv
</div>

<!-- js alert when trying to upload large images -->
<script type="text/javascript">
  $('#profile_profile_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>