<!-- header -->
<div class="simple_header">
  <%= link_to "Nowpage", user_profile_path(@user.url) %> |
  <%= link_to "Logout", logout_path %>
</div>

<div class="simple_container">
  <h2> Editing Nowpage </h2>
  <%= form_for @profile, url: user_profile_update_path, html: { multipart: true } do |f| %>
    
    <h4>Title</h4>
    <%= f.text_field :title, plaeholder: "title" %> <br>
    <%= f.check_box :title_delete %> <span style="font-size: 11px;"> remove this section. </span>

    <h4>Subtitle</h4>
    <%= f.text_field :subtitle, plaeholder: "sutitle" %> <br>
    <%= f.check_box :subtitle_delete %> <span style="font-size: 11px;"> remove this section. </span>
   
    <h4>Main Content</h4>
    <%= f.text_field :content, plaeholder: "content" %> <br>
    <%= f.check_box :content_delete %> <span style="font-size: 11px;"> remove this section. </span>

    <br> <br> <h4>Image</h4>
    <%= f.file_field :profile_image, accept: 'image/jpeg,image/gif,image/png' %> <br>
    <%= f.check_box :profile_image_delete %> <span style="font-size: 11px;"> remove this section. </span>
    <br>

    <h4>Contact Me</h4>
    <%= f.text_field :contact_text, plaeholder: "contact" %> <br>
    <%= f.check_box :contact_text_delete %> <span style="font-size: 11px;"> remove this section. </span> <br>
  
    <%= f.submit "Done Editing." %>
  <% end %>
</div>

<!-- alerting user when trying to upload large images -->
<script type="text/javascript">
  $('#profile_profile_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>