<!-- header -->
<div class="simple_header">
  <%= link_to "Nowpage", user_profile_path(@user.url) %> |
  <%= link_to "Logout", logout_path %>
</div>

<div class="simple_container">
  <br> <h3>Editing Nowpage</h3>
  <%= form_for @profile, url: user_profile_update_path, html: { multipart: true } do |f| %>
   
    <h4>Name</h4>
      <%= f.text_field :subtitle, placeholder: "Dagny A. Taggard" %> <br>
    <h4>Content <span style="font-size: 11px;"> - What are you focusing on right now? </span> </h4>
      <%= f.text_area :content, plaeholder: "content" %> <br>
    <h4>Image</h4>
      <%= f.file_field :profile_image, accept: 'image/jpeg,image/gif,image/png' %> <br> <br>
    <h4>Remove parts</h4>
      <%= f.check_box :title_delete %> <span style="font-size: 11px;"> remove "What I'm doing now" headline </span> <br>
      <%= f.check_box :subtitle_delete %> <span style="font-size: 11px;"> remove name sub-headline </span> <br>
      <%= f.check_box :content_delete %> <span style="font-size: 11px;"> remove main content </span> <br>
      <%= f.check_box :profile_image_delete %> <span style="font-size: 11px;"> remove profile image </span> <br>
      <%= f.check_box :contact_text_delete %> <span style="font-size: 11px;"> remove contact me section </span> <br> <br>
    <%= f.submit "Execute all changes.", style: "background-color: orange;" %>
    
  <% end %>
</div>

<!-- love -->
<div class="with_love">
  Made with <i class="fa fa-heart" aria-hidden="true"></i> in Tel Aviv
</div>

<!-- js alert when trying to upload large images -->
<script type="text/javascript">
  $('#profile_profile_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>