<!-- signup loader -->
<% if request.referer == signup_url %>
  <div class="signup_loader">
    <%= image_tag "page-loader.gif" %>
    <h3> nowpage.com/<%= @user.url %> <br> is being born. </h3>
  </div> 
<% end %>

<!-- header -->
<div class="simple_header">
  <% if request.referer == signup_url %>
    <%= link_to "EDIT LAYOUT", user_profile_edit_path, class: "edit_profile_link" %>
  <% else %>
    <!-- discriminate btw users that are not logged in and those that are -->
    <% unless user_logged_in? %>
      <%= link_to "What is a nowpage?", "", id: "explain_now_link" %> |
      <%= link_to "Login & Edit", login_path %>
    <% else %>
      <%= link_to "Edit", user_profile_edit_path %> |
      <%= link_to "Logout", logout_path %>
    <% end %>
  <% end %>
</div>

<!-- explain what nowpage is -->
<div class="explain_now" id="whatev">
  A Nowpage is a public declaration of priorities. It is where you state to yourself and to others what you are focusing on now. The nowpage movement has been started by Derek Sivers. Many people have begun to add nowpages to their own websites. Many find it an uplifting and valuable thing to do. They say it helps them focus.
</div>

<!-- after signup directions -->
<% if request.referer == signup_url %>
  <div class="after_signup_directions">
    <i class="fa fa-times" id="close" aria-hidden="true"></i>
      <span style="font-size: 14px;">
        <strong>/<%= @user.url %> </strong> is now online. Fill the layout with your content and enjoy. <br> </span>
     <br>
  </div>
<% end %>


<!--  content -->
<div class="simple_container">

  <% unless @profile.title_delete %>
    <% if @title.nil? || @title.empty? %>
      <h1> What I’m doing now </h1>
    <% else %>
      <h1> <%= @title %> </h1>
    <% end %>
  <% end %>

  <% unless @profile.subtitle_delete %>
    <% if @subtitle.nil? || @subtitle.empty? %>
      <h3> John Galt </h3>
    <% else %>
      <h3> <%= @subtitle %> </h3>
    <% end %>
  <% end %>

  <% unless @profile.content_delete %>
    <% if @content.nil? || @content.empty? %>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut ...
        <div class="button">
         <%= link_to "Edit this layout with your own content", user_profile_edit_path, style: "padding: 14px 23px;" %>
        </div>
      </p>
    <% else %>
      <p> <%= @content %> </p>
    <% end %>
  <% end %>

  <% unless @profile.profile_image_delete %>
      <%= link_to user_profile_edit_path do %>
        <%= image_tag "no_image.png", style: "width: 46%; margin: 15px 27% 15px 27%;" unless @profile.profile_image? %>
      <% end %>
      <%= image_tag @profile.profile_image.url, style: "width:68%; margin: 15px 16% 15px 16%;" if @profile.profile_image? %>
    <br>
  <% end %>

  <% unless @profile.contact_text_delete %>
    <% if @contact_text.nil? || @contact_text.empty? %>
      <p style="padding-top: 5px;"> 
        <strong style="font-size: 18px;"> Contact me </strong> <br>
        <span style="font-size: 14px;"> Get in touch by writing in the textbox below. All messages will be forwarded to my Email Inbox. </span>
      </p>
    <% else %>
      <p> <%= @contact_text %> </p>
    <% end %>

    <form>
      <textarea></textarea>
      <input type="submit" value="Send." >
    </form>
  <% end %> <br> <br>

  <!-- <% if user_logged_in? %>
    <div style="text-align:center;">
        <br> <br> <br>
        <%= link_to "Edit", user_profile_edit_path %> <br>
    </div>
  <% end %> -->
</div>


<!-- js -->
<script type="text/javascript">
  // fadeOut loader graphic
  $(window).load(function() {
    $(".signup_loader").delay(5500).fadeOut("slow");
  })
  // close button for after-signup-directions div
  $('#close').click(function(){
    $('.after_signup_directions').css("display", "none");
  });
  // toggling explain_now visibility
  $("#explain_now_link").hover(function(){
    $('.explain_now').css("display", "inline");
    }, function(){
    $('.explain_now').css("display", "none");
  });
</script>


<!-- Unfortunately I am the chancellor of Germany. In that function all I am focusing on is basically dictated by someone else. Last year several hundred-thousand refugees came our way and we took them in. Making sure the country doesn't implode because of it, is just one small thing I am focusing on now. I am also very focused on keeping my hairstyle up to date. Looking good is important to me. Lastly I actually have a PhD in Phyiscs, which few people know about. So, some leisurely subparticle physic is a much appreciated hobby for those times when there's nothing left to do in a country of 80 million people and in Europe in general. I also love my nowpage :). Angie out. <br> -->

