<!-- header -->
<div class="simple_header">
  <%= link_to "Login", login_path %>
</div>

<!-- content -->
<div class="simple_container">
  <% if @user.errors.any? %>
    <div class="errors">
      <h3>Some errors occured:</h3>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2> Signup </h2>
  <%= form_for :user, url: signup_path do |f| %>
    <h4> Email: </h4>
    <%= f.text_field :email, placeholder: "email" %> <br>
    <h4> Password: </h4>
    <%= f.password_field :password_provided, placeholder: "password" %> <br>
    <h4> Set your address: </h4>
    <%= f.text_field :url, placeholder: "url", id: "url_input" %> <br>
    <div id="url_simulation"> www.mynowpage.com/ </div> <br>
    <%= f.submit "Done." %>
  <% end %>
</div>

<!-- js for simulating url choice -->
<script type="text/javascript">
  var url_input = document.getElementById('url_input');

  url_input.onkeyup = function(){
      document.getElementById('url_simulation').innerHTML = "www.mynowpage.com/" + url_input.value.replace(/\s+/g, '-').toLowerCase();
    }
</script>
