<!-- header -->
<div class="simple_header">
  <% unless user_logged_in? %>
    <%= link_to "Login", login_path %> |
    <%= link_to "Sign-up", signup_path %>
  <% else %>
    <%= link_to "Profile", user_profile_path(@user.url) %> |
    <%= link_to "Edit Profile", user_profile_edit_path %> |
    <%= link_to "Logout", logout_path %>
  <% end %>
</div>

<!-- content -->
<div class="simple_container">
  <h2 style="font-size: 29px; text-align: center;"> YOUR OWN NOWPAGE IN 5 MINUTES OR LESS </h2>
  <p>
   A nowpage is a website where people state what they are currently focusing on - it's a public clarification of priorities to remain focused.
  </p>
  <div class="button">
    <%= link_to "GET", signup_page_path, class: "btn btn-medium" %>
  </div>
  <h3> 200+ nowpages </h3>
  <p>
    Since <a href="https://sivers.org/" target="_blank">Derek Sivers</a> made the 1st nowpage, many people have followed. Click <a href="http://nownownow.com/" target="_blank">here</a> to see more than two-hundred nowpages.
  </p>
  <a href="http://nownownow.com/" target="_blank">
    <%= image_tag "nownownow.png" %>
  </a>
  <h3> Actual Benefits </h3>
  <ul>
    <li> Many say a nowpage helps them focus, avoid distractions, say 'no' and generally stay on course. </a>
    <li> It's a very suitable thing to link to from your social profiles:<br> LinkedIn, Facebook, Twitter, Medium etc. </li>
    <li> It's an easy way to keep people up to date. </li>
    <li> Even if you don't use it, the mere act of writing one is valuable. </li>
    <li> Use in footer of emails, on business cards and so forth. </li>
  </ul>
  <div class="button">
    <%= link_to "GET NOWPAGE", signup_page_path, class: "btn btn-medium" %>
  </div>

  <!-- 
    Add example of your noapge made with nowpage generator here.
    <h3> Actual Benefits </h3>
    <p>THis is my ... made with the nowpagegenerator. Click to see in big  / add link </p>
  -->
</div>
