<!-- header -->
<div class="simple_header">
  <%= link_to "Login", login_path, class: "btn btn-md btn-success" %> |
  <%= link_to "Sign-up", signup_path, class: "btn btn-md btn-success" %>
</div>

<!-- content -->
<div class="simple_container">
  <h2 style="font-size: 29px; text-align: center;"> YOUR OWN, PERSONAL NOWPAGE IN 5 MINUTES OR LESS </h2>
  <p>
   A nowpage is a website on which people state what they are currently focusing on - it's a public clarification of priorities to remain focused.
  </p>
  <div class="button">
    <%= link_to "GET", signup_page_path, class: "btn btn-medium" %>
  </div>
  <h3> 200+ nowpages </h3>
  <p>
    Since <a href="https://sivers.org/" target="_blank">Derek Sivers</a> made the 1st nowpage, many people have followed. Click <a href="http://nownownow.com/" target="_blank">here</a> to see more than two-hundred nowpages.
  </p>
  <a href="http://nownownow.com/" target="_blank">
    <%= image_tag "nownownow.png" %>
  </a>


  <h3> Actual Benefits </h3>
  <ul>
    <li> People say it helps them focus, avoid distractions, say 'no' when they should and generally stay on course. </a>
    <li> It's well suited to include in your social media profiles: <br> LinkedIn, Facebook, Twitter, Medium etc. </li>
    <li> It's an easy way to keep people up to date. </li>
    <li> Even if you don't use it, the mere act of writing one is valuable. </li>
    <li> Footer of your emails, business cards etc. </li>
  </ul>
  <div class="button">
    <%= link_to "GET", signup_page_path, class: "btn btn-medium" %>
  </div>
  </p>

  <!-- Add example.
  <h3> Actual Benefits </h3>
  <p>THis is my ... made with the nowpagegenerator. Click to see in big  / add link </p>
  <img...> -->

<!-- close content -->
</div>
