<!DOCTYPE html>
<html>
<head>
  <title> ow... </title>
  <!-- logo -->
  <%= favicon_link_tag 'logo2.png' %>
  <!-- rails assets -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-80847088-1', 'auto');
    ga('send', 'pageview');
  </script>

</head>
<body>

  <!-- logo -->
  <div class="simple_logo">
    <%= link_to root_path do %>
      <%= image_tag "logo1.png" %> </a>
    <% end %>
  </div>

  <!-- notice -->
  <% if notice %>
    <div class="simple_notice">
      <p> <%= notice %> </p>
    </div>
  <% end %>

  <!-- content -->
  <div>
    <%= yield %>
  </div>

  <!-- debug -->
  <div class="debug_area">
    <%= debug(params) if Rails.env.development? %>
  </div>

  <!-- js-->
  <script type="text/javascript">
    // making love stay on bottom on all pages.
    var window_height = $(window).height();
    var body_height = $('body').height();
    if ( window_height > body_height ){ 
      $('.with_love').css({"position": "absolute", "bottom": "22px", "padding-top": "5px"});
    };
  </script>

</body>
</html>


<!-- 
  - "launching" 
      write medium post & follow
      Write to derek 
      Make your own and put on profiles
      Tweet. Facebook
      plan
  
  td 
  after launch
  - picture orange frame
  - features on landing page
  - should after login go to edit pages or somewhere else?
  - add example of a nowpage on homepage
  - minimize validations
  - no possibility of empty model saving /attributes. ensure.
  - add a subtle,nice pormotional aspect to each nowpage
  - new relic impl. / other monitoring integrations / other helpful apps. see. fun.
  - 404 error pages and so forth
  - img cropping (evaluate wether that's actually needed)
  - making contact messages on profiles go somewhere
  - more features?
  - conveying that contact msgs get emailed to you
  - iterating. iterating...
  - get feedback. imagination of nature.
  - code editing
-->
 

