<!DOCTYPE html>
<html>
<head>
  <title> ow... </title>
  <!-- logo in tab -->
  <%= favicon_link_tag 'logo2.png' %>

  <!-- rails assets -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- logo -->
  <div class="simple_logo">
    <%= link_to root_path do %>
      <%= image_tag "logo1.png" %> </a>
    <% end %>
  </div>

  <!-- notice -->
  <% if notice %>
    <div class="simple_notice">
      <p> <%= notice %> </p>
    </div>
  <% end %>

  <!-- content -->
  <div>
    <%= yield %>
  </div>

  <!-- love -->
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Tel Aviv
  </div>

  <!-- debug -->
  <div class="debug_area">
    <%= debug(params) if Rails.env.development? %>
  </div>

  <!-- js-->
  <script type="text/javascript">
    // making love stay on bottom on all pages.
    var window_height = $(window).height();
    var body_height = $('body').height();
    if ( window_height > body_height ){ 
      $('.with_love').css({"position": "absolute", "bottom": "22px", "padding-top": "5px"});
    };
  </script>

</body>
</html>

<!-- 

  image delete option

  design of the show slide

  basic design of edit pages & editing process.

  ganalytics  

  heroku und carrierwave

  img size val. (Hartl)





  what can be left after launch
  - new relic
  - other app monitoring & support services
  - error pages - basic design
  - code editing
  - additional img valiidations
  - img cropping
  - making contact messages on profiles go somewhere
  - marcis kunstfehler
  - more features
  - example on homepage
  - iterating. iterating. iterating.
  - gathering feedback. iterating.
-->
 



