
<!DOCTYPE html>
<html>
<head>
  <title> Now. </title>
  <!-- rails assets -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- content -->
  <div class="container_encapsulating">
    <%= notice %>
    <%= yield %>
  </div>

  <!-- debug -->
  <div class="debug_area">
    <%= debug(params) if Rails.env.development? %>
  </div>

  <!-- with Love -->
  <div class="with_love">

  </div>

</body>
</html>


<!--

  - add tel aviv on bottom.
  - get a domain
  - add styling thatdirects user after signup


  - Af first, make a product that's good enough
  what is easy to do? do first? Apply 'good enough'. What can be left out and done after shipping?

  styling of show page (poitner to editing, what is nowpage, get your own nowpage etc.)
  distinguish on user show between logged in and not.
  - styling of show page
    - pointer as how to use it
    - what is notpage, get your own nowpage
    - discriminate between logged in and not logged in (external view and view of user)

  - wirte "get your own nowpage as javascript 'pop up"

  - implement basic edit page
  - error and redirect messages - naming and styling
  - login - making sure only right user can edit his/her nowpage  
  - photo uploading functionality
  - add name to signup?
  - white space in url? (transform whitespace to -)
  - getting/giving feedback
  - editing of text functionality plugin?
  - adding links functionality on page?
  - url
  - logo
  - code editing
  - research - what cool external tools are there to use. fun.
  - made with love in Tel Aviv
-->

