<!DOCTYPE html>
<html>
<head>
  <title> Now. </title>
  <!-- rails assets -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- logo -->
  <div class="simple_logo">
    <%= link_to root_path do %>
      <%= image_tag "logo1.png" %> </a>
    <% end %>
  </div>

  <!-- content -->
  <div class="container_encapsulating">
    <div class="notice"> <%= notice %> </div>
    <%= yield %>
  </div>

  <!-- love -->
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Tel Aviv
  </div>

  <!-- debug -->
  <div class="debug_area">
    <%= debug(params) if Rails.env.development? %>
  </div>

  <!-- making 'love' stay on the bottom of all pages -->
  <script type="text/javascript">
    var window_height = $(window).height();
    var body_height = $('body').height();
    if ( window_height > body_height ){ 
      $('.with_love').css({"position": "absolute", "bottom": "22px", "padding-top": "5px"});
    };
  </script>

</body>
</html>


