
<!DOCTYPE html>
<html ng-app>
<head>
  <title> Now. </title>
  <!-- rails assets -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- content -->
  <div class="container_encapsulating">
    <%= notice %>
    <%= yield %>
  </div>

  <!-- debug -->
  <div class="debug_area">
    <%= debug(params) if Rails.env.development? %>
  </div>

</body>
</html>


<!--
  styling of show page
  make edit basic page
  check error msgs + redirect messages (right msgs + basic styling)
  login mechanism (only a particular user can edit his/her nowpage)
  photo uploading functionality
  add name of signup?
  Logo - make and add to pages and tab
  name for it? check domains...
  editing
  white space in url? (transform whitespace to -)
-->

